<div class="container"> 
<p>Thank you <strong><%=contact.name%></strong> for contacting Enroll medicare</p> 
<p>A customer service representative will respond to your request within 24 hours.</p> 
</div> 