<div class="container"> 
<p>Thank you <strong><%=register.username%></strong>  </p> 
    <p> A new account has been created. </p>
    <p>An email has been sent to <strong><%=register.email %></strong></p>
 
</div> 